# Assignment_1 Solutions

**1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.**

**"*"**,
**'hello'**,
**-87.8**,
**"-"** ,
**"/"** ,
**"+"**,	
**6**.

Ans: In the given list, the values and expressions can be identified as follows:

Values:

'hello' (string)
-87.8 (float)
6 (integer)

Expressions:

* *(multiplication operator),
* -(subtraction operator),
* /(division operator),
* +(addition operator)

#### 2. What is the difference between string and variable?

Ans: A string is a specific type of data that represents text, while a variable is a container that can hold different types of data, including strings. Variables allow you to store and manipulate data in a more flexible manner, while strings specifically deal with textual information.

#### 3. Describe three different data types.

Ans: 1.Integers: Integers are whole numbers, without a fractional component. They can be positive or negative.

In [ ]:
x = 10
y = -3

2.Floats: Floats represent real numbers and are written with a decimal point.

In [ ]:
x = 10.0
y = -3.14

3.Strings: Strings in Python are sequences of character data. They are created by enclosing characters in quotes.

In [1]:
s = "Hello, World!"
print(s)

Hello, World!

#### 4. What is an expression made up of? What do all expressions do?

Ans: An expression is made up of one or more elements that combine values, variables, operators, and function calls to produce a 
new value. It represents a computation or evaluation that results in a single value.

An example of expression can be : x = x + 1 0 x = x + 10 x=x+10.

Expressions are used to perform computations, comparisons, or transformations of data within a program. They can be used in assignments, conditionals, loops, or as standalone computations.The main purpose of expressions is to evaluate and produce a resulting value that can be used further in the program's execution.

#### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans: An expression is a combination of values, variables, and operators.When we type an expression at the prompt, the 
interpreter evaluates it, which means that it finds the value of the expression.

eg: 2*7+10-20 is an example of a statement

A statement is a unit of code that has an effect, like creating a variable or displaying a value.When we type a statement, the interpreter executes it, which means that it does whatever the statement says. In general, statements donâ€™t have values.

eg: variable declaration and assignment are statements because they do not return a value

In [2]:
#Example:
2*7+10-20 # Is a Expression
courseName = 'Hi coders, welcome to python' # Is a Statement
print("Hello World") # Is a Expression Statement

Hello World

#### 6. After running the following code, what does the variable bacon contain?

In [ ]:
bacon = 22
bacon + 1

Ans: The variable bacon is set to 22. The expression bacon + 1 does not reassign the value in bacon (that would the case if the expression is like bacon = bacon + 1 instead of bacon + 1)

In [3]:
# Example Case#1
bacon=22
bacon+1
print(bacon)

22

In [4]:
#Example Case#2
bacon=22
bacon=bacon+1 
print(bacon)

23

#### 7. What should the values of the following two terms be?

In [ ]:
'spam' + 'spamspam'
'spam' * 3

Ans: Both expressions evaluate to the string 'spamspamspam' Where as the first expression follows String Concatentation and the second expression follows String Multiplication

In [5]:
print('spam'+'spamspam') # string concatenation
print('spam'*3) # string multiplication

spamspamspam
spamspamspam

#### 8. Why is eggs a valid variable name while 100 is invalid?

Ans: As per python,Variable names cannot begin with a number. The python rules for naming a variable are :-
1.Variable name must start with a letter or the underscore character.
2.Variable name cannot start with a number.
3.Variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, & _ ).
4.Variable names are case-sensitive (name, INEURON and ineuron are three different variables).
5.The reserved words(keywords) cannot be used naming the variable.

In [7]:
egg='Ineuron' # Valid variable Initilization
print(egg) #prints the value of egg ie Ineuron

Ineuron

In [8]:
100='hello' # Invalid Variable Initilization
print(100) # Raises a Syntax Error as 100 is not a valid variable name

SyntaxError: cannot assign to literal (Temp/ipykernel_26996/78540720.py, line 1)

#### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Ans: The int(),float(),and str() functions will evaluate to the integer,floating-point number,string version of the value passed to them.

In [9]:
print('int(10.0) -> ',int(10.0)) # int() function converts given input to int
print('float(10) -> ',float(10)) # float() function converts given input to float
print('str(10) -> ',str(10)) # str() function converts given input to string

int(10.0) ->  10
float(10) ->  10.0
str(10) ->  10

#### 10. Why does this expression cause an error? How can you fix it?

In [ ]:
'I have eaten ' + 99 + ' burritos.'

Ans: This cause of error is 99.because 99 is not a string. 99 must be typecasted to a string to fix this error. the correct way is:
Input: 'I have eaten ' + str(99) + 'burritos.'
Output: 'I have eaten 99 burritos.'

In [10]:
print('I have eaten '+str(99)+' burritos')

I have eaten 99 burritos